/* Header */

@media (max-width: 583px) {
    .container-header {
        flex-direction: column;
    }
}

@media (max-width: 415px) {
    .container-header {
        flex-direction: row;
    }
    .menu {
        display: none;
    }
    .container-button {
        display: block;
    }
}