/* Header */

@media (max-width: 620px) {
    .container-header {
        flex-direction: column;
    }
}
@media (max-width: 548px) {
    .contact-info {
        gap: 20px;
    }
    .card-contact-info {
        width: 100%;
    }
    .card {
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .container-header {
        flex-direction: row;
    }
    .menu {
        display: none;
    }
    .container-button {
        display: block;
    }
    
    
    
}