* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #111111;
    box-shadow: 0 0 30px rgba(39, 39, 39, 0.799);
}
.container-header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    font-weight: 900;
    font-size: 1.5rem;
    transition: transform .3s;
    position: relative;
}
.logo-container img {
    width: 27px;
}
.menu {
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.container-header a {
    color: white;
    transition: transform .3s;
    text-decoration: none;
}
.logo-container:hover, .container-header a:hover{
    transform: scale(1.1);
    text-shadow: 1px 1px 10px rgba(143, 143, 143, 0.46);
}

.container-button {
    width: 40px;
    height: 40px;
    display: none;
}
.btn-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
    border: none;
}

.line1, .line2, .line3 {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all .3s ease;
    right: 0;
}
.line1 {
    top: 10px;
}

.line2 {
    top: 19px;
}

.line3 {
    top: 28px;
}

.btn-container:active .line2 {
    width: 0;
}
.btn-container:active .line1 {
    transform: rotate(40deg);
    top: 20px;
    width: 80%;
}
.btn-container:active .line3 {
    transform: rotate(-40deg);
    top: 20px;
    width: 80%;
}
