* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*::selection {
    background-color: #33211D;
    color: white;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFBF2;
}
body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: transparent;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #33211D;
    border-radius: 20px;
}

/* HEADER */

.header {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 9999999;
}
.container-header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    font-weight: 900;
    font-size: 1.5rem;
    transition: transform .3s;
    position: relative;
}
.logo-container img {
    width: 27px;
}
.menu ul {
    font-weight: bold;
    display: flex;
    gap: 20px;
}
.menu ul li{
    list-style: none;
    transition: transform .3s;
}
.container-header a {
    color: white;
    transition: transform .3s;
}
.logo-container:hover {
    transform: scale(1.1);
}
.menu a {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
  
.menu a:focus,
.menu a:hover {
    color: #fff;
}
  
.menu a:focus:after,
.menu a:hover:after {
    width: 100%;
    left: 0%;
}
  
.menu a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.container-button {
    width: 40px;
    height: 40px;
    display: none;
}
.btn-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
    border: none;
}

.line1, .line2, .line3 {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all .3s ease;
    right: 0;
}
.line1 {
    top: 10px;
}

.line2 {
    top: 19px;
}

.line3 {
    top: 28px;
}

.btn-container:active .line2 {
    width: 0;
}
.btn-container:active .line1 {
    transform: rotate(40deg);
    top: 20px;
    width: 80%;
}
.btn-container:active .line3 {
    transform: rotate(-40deg);
    top: 20px;
    width: 80%;
}

/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}
.hero-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.text-container {
    color: white;
    font-size: 1.5rem;
}
.separador {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* ABOUT ME */
main {
    width: 90%;
    margin: 0 auto;
}
.about-me {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
.title-center {
    width: 100%;
    text-align: center;
    color: #DA9F5B;
    font-size: 1.5rem;
}
.subtitle {
    color: #33211D;
    font-weight: bold;
}
.title-center h3 {
    font-size: 2.5rem;
}
.linea {
    width: 3px;
    height: 130px;
    background-color: #DA9F5B;
    margin: 0 auto;
}
.about-me-article {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}
.left-text, .rigth-text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about-me-article h3{
    font-size: 2rem;
}
.about-me-article p{
    font-size: 1.3rem;
    color: #797979;
    line-height: 35px;
}
.about-me-article .text-color {
    color: #33211D;
}
.center-img {
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.667));
}
.center-img img {
    width: 100%;
    height: 100%;
}
.lista {
    font-size: 1.3rem;
    color: #33211D;
    list-style-position: inside;
    list-style: none;
}

.lista li:before {
    content: '✓ ';
    color: #DA9F5B;
}
.btn-aboutMe {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #DA9F5B;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-aboutMe:hover {
    background-color: #e1b078;
}
.btn-aboutMe:active {
    background-color: #ea932f;
}

/* SCROLL TO TOP */

.scroll-top {
    width: 60px;
    height: 60px;
    background-color: #DA9F5B;
    position: fixed;
    bottom: 15px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 1s infinite ease-out;
}


@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}