* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*::selection {
    background-color: #33211D;
    color: white;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFBF2;
}
body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: transparent;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #33211D;
    border-radius: 20px;
}

/* HEADER */

.header {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 9999999;
}
.container-header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    font-weight: 900;
    font-size: 1.5rem;
    transition: transform .3s;
    position: relative;
}
.logo-container img {
    width: 27px;
}
.menu ul {
    font-weight: bold;
    display: flex;
    gap: 20px;
}
.menu ul li{
    list-style: none;
    transition: transform .3s;
}
.container-header a {
    color: white;
    transition: transform .3s;
}
.logo-container:hover {
    transform: scale(1.1);
}
.menu a {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
  
.menu a:focus,
.menu a:hover {
    color: #fff;
}
  
.menu a:focus:after,
.menu a:hover:after {
    width: 100%;
    left: 0%;
}
  
.menu a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.container-button {
    width: 40px;
    height: 40px;
    display: none;
}


.container-button ul{
    display: none;
}
  
.container-button input:checked  ~ ul{
    display:block;
}

.container-button input {
    display: none;
}

.container-button label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    user-select: none;
    color: white;
    cursor: pointer;
}

.container-button ul{
    width: 100%;
    position: absolute;
    left: 0;
    top: 12vh;
    text-align: center;
    border-radius: 8px;
    background: #33211D;
    padding: 10px;
}


.container-button li {
    width: 100%;
    display: block;
    padding: 10px;
    list-style: none;
    transition: transform .3s;
}

.container-button li:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}
.container-button a {
    width: 100%;
    display: block;
    font-weight: bold   ;
}






/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}
.hero-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.text-container {
    color: white;
    font-size: 1.5rem;
}
.separador {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* ABOUT ME */
main {
    width: 90%;
    margin: 0 auto;
}
.about-me {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}
.title-center {
    width: 100%;
    text-align: center;
    color: #DA9F5B;
    font-size: 1.5rem;
}
.subtitle {
    color: #33211D;
    font-weight: bold;
}
.title-center h3 {
    font-size: 2.5rem;
}
.linea {
    width: 3px;
    height: 130px;
    background-color: #DA9F5B;
    margin: 0 auto;
}
.about-me-article {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}
.left-text, .rigth-text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about-me-article h3{
    font-size: 2rem;
}
.about-me-article p{
    font-size: 1.3rem;
    color: #797979;
    line-height: 35px;
}
.about-me-article .text-color {
    color: #33211D;
}
.center-img {
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.667));
}
.center-img img {
    width: 100%;
    height: 100%;
}
.lista {
    font-size: 1.3rem;
    color: #33211D;
    list-style-position: inside;
    list-style: none;
}

.lista li:before {
    content: '✓ ';
    color: #DA9F5B;
}
.btn-aboutMe {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #DA9F5B;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-aboutMe:hover {
    background-color: #e1b078;
}
.btn-aboutMe:active {
    background-color: #ea932f;
}

/* SERVICES */

.services {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}

.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.card {
    width: 600px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card-img {
    max-width: 300px;
    min-width: 150px;
    max-height: 300px;
    min-height: 150px;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-text h3{
    font-size: 1.5rem;
    color: #33211D;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-card {
    width: 30px;
    height: 30px;
    background-color: #DA9F5B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 20px;
}

.description-card {
    line-height: 25px;
    color: #555555;
}



/* CONTACT */
.contact {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}

.contact-info {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 200px;
    text-align: center;
    line-height: 40px;
}
.icon-contact {
    font-size: 2.5rem;
    color: #DA9F5B;
}

.card-contact-info h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #33211D;
}
.card-contact-info p, .card-contact-info a {
    color: #555555;
    font-size: 0.9rem;
}

.container-contact-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}
.map {
    width: 600px;
    height: 450px;
    min-width: 200px;
}
.map iframe {
    width: 100%;
    height: 100%;
}
.form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form input, .form textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid #CED4DA;
}
.form textarea::placeholder, .form input::placeholder { 
    color: #808385;
}
.form textarea {
    height: 170px;
    resize: none;
}

/* FOOTER */

.footer {
    width: 100%;
    background-color: #33211D;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    color: white;
    position: relative;
    margin-top: 100px;
}
.footer img{
    border-radius: 50%;
}
.separador-footer {
    width: 100%;
    position: absolute;
    top: -120px;
    left: 0;
}

/* SCROLL TO TOP */

.scroll-top {
    width: 60px;
    height: 60px;
    background-color: #DA9F5B;
    position: fixed;
    bottom: 15px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 1s infinite ease-out;
}


@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}